h2 {
    color: gold;
}
article{
    font-size: 20px;
    background-color: rgba(245, 245, 220, 0.26) ;
    border-radius: 25px;
    width: 60%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 40px;
}