/*#region* nav*/
    nav{
    background-color: #4c8f96;
    display: flex;
    width: 100%;
    height: 130px;
}
nav>div {
    height: 100px;
    width: 220px;
    color: white;
    background-color: #222841;
    font-size: 50px;
    margin-left: 140px;
    margin-right: 140px;
    margin-top: 40px;
    padding-top: 20px;
    }
    nav>a{
        background-color: #222841;
        height: 30px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
        margin-left: 25px;
        margin-right: 25x;
        font-size: 25px;
        color: white;
        border-radius: 10px;
    }
    #last{
        margin-right: 200px;
    }
    #home{
        background-color: #335f64;
    }
    nav>a:link{
        text-decoration-line: none;
    }
    /*#endregion*/
/*#region first*/
#first{
    border: 2px #4c8f96 solid;
    display: flex;
    width: 1300px;
    margin: auto;
    margin-top: 60px;
}
#first>img{
    height: 335px;
    width: 378px;
    margin-left: 10px;
    margin-top: 5px;
}
#first>p{
    font-size: 60px;
    color: #222841;
    margin-left: 30px;
    margin-top: 100px;
}

/*#endregion*/
/*#region second*/

#second{
    margin: auto;
    height: 470px;
    width: 1350px;
    display: flex;
    flex-wrap: wrap;
    margin-right: 190px;
    margin-top: 60px;
    
}
#second>img{
    width:300px;
    height: 200px;
    border: 6px #4c8f96 solid;
    margin-left: -5px;
    margin-right: 25px;
    border-radius: 5px;
    box-shadow: 0px 15px 10px -8px black ;
}
#second>div{
    width: 200px;
    height: 250px;
    margin-left: -7px;
    margin-right: 140px;
    
}
#second>div>h1{
    font-size: 25px;
    font-weight: normal;
    
}
#second>div>p{
    font-family: 'Cormorant Garamond', serif;
    line-height: 30px;
  
}
/*#endregion*/
/*#region third*/
#thirdContainer{
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
}
#third{
    border: 1px black solid;
    display: inline-grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    column-gap: 50px;
    row-gap: 50px;
    width: 1000px;

}
#third>div{
    border: 6px #5fb3bd solid;
    border-radius: 10px;
}
#g1{
    grid-row: 1 / span 2;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding-left: 15px;
    width: 460px;
    }
#g1>h2, #g2>h2{
    font-size: 30px;
    color: white;
    font-family: 'Cormorant Garamond', serif;
    background-color: #222841;
    height: 47px;
    width: 160px;
    padding-left:15px;
    padding-top: 15px;
    font-weight: normal;
    margin-top: -20px;
    margin-left: 10px;
}
#g1>section{
    display: flex;
    
}
#g1>section>img{
    height: 90px;
    width: 90px;
    margin: 10px 30px 25px 0;
}
#g1>section>h3{
    font-size: 30px;
    font-weight: normal;
    color: #354057;
    margin-top: 4px;
}
#g1>p{
    font-size: 18px;
    line-height: 35px;
}
#g2{
    width: 460px;
    font-size: 18px;
    line-height: 35px;
}
#g2>p{
    float: right;
    font-size: 40px;
}

#g3{
    display: flex;
    width: 460px;
    margin-bottom: 250px;
}
#g3>img{
    width:190px;
    height: 238px;
}
#g3>p{
    font-weight: bold;
    font-size: 25px;
    line-height: 40px;
}
#g2, #g3{
    background-color: #519194;
    color: white;
}

/*#endregion third*/